#pagina-inicial {
	background: url('../img/logo.png')  no-repeat center fixed;
	background-size: 70%;	
}

#conteudo{
	text-align: center;
}

#footer{	
	text-align: center;
}

#palavraIncompleta{
	font-weight: bold;
}

#inputPalavra{
	font-size: 100%;
}

.input-sm{	
	width: 10%;
}

#tempo{
	border: none;
	text-align-last: center;
	width: 10%;
	background-color: transparent;
}

#corpoModal {
	min-height: 400px;
}

#conteudoModalRegra{	
	background: url('../img/regra.png')  no-repeat center fixed;	
	background-size: 70%;	
	font-weight: bold;
	text-align: left;
}

#avatarNav{
	max-width: 25%;
}

#paragrafoTexto{
	text-align: left;
}

.tabela-gabarito{
	width: 80%;
	padding: 1%;
	border-spacing: 2%;
	text-align: center;
}

.historia {
	min-height: 500px;
}


.modal-footer{
	text-align: center;
}

.regra{
	min-height: 300px;
}

.form-group{
	padding: 1%;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
}



.historia{
	max-width: 100%;	
}

.link-sem-linha{
	text-decoration: none;
}

.link-sem-linha:hover{
	text-decoration: none;
}

.titulo{
	font-weight: bold;
//	text-align: center;

}

.alternativasTeste{
	text-align: left;
}

.afastado-1pc{
	padding: 1%;
}

.img-texto{
	opacity: 0.3;
}

.img-texto:hover{
	opacity: 1;
}

.left{
	float: left;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}