#logo-inicial{
	float: left;	
}

#sidebar{
	background: red;
	text-align: center;
}

#conteudo{
	background: blue;
	text-align: center;
}

#footer{
	background: green;
	text-align: center;
}

#painel-login{	
	text-align: center;
}