#logo-inicial{
	float: left;	
}

#conteudo{
	text-align: center;
}

#footer{	
	text-align: center;
}

#palavraIncompleta{
	font-weight: bold;
}

#inputPalavra{
	font-size: 100%;
}

#tempo{
	border: none;
	text-align-last: center;
	width: 10%;
	background-color: transparent;
}

#botao-admin{
	float: left;	
}

.tabela-gabarito{
	padding: 1%
	border-spacing: 2%;
}

.modal-footer{
	text-align: center;
}

.form-group{
	padding: 1%;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
}

#paragrafoTexto{
	text-align: left;
}

.link-sem-linha{
	text-decoration: none;
}

.link-sem-linha:hover{
	text-decoration: none;
}

.titulo-menu{
	font-weight: bold;
}


.afastado-1pc{
	padding: 1%;
}

.img-texto{
	opacity: 0.3;
}

.img-texto:hover{
	opacity: 1;
}

.left{
	float: left;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}