#logo-inicial{
	float: left;	
}

#sidebar{
	background: red;
	text-align: center;
}

#conteudo{
	text-align: center;
}

#footer{
	background: green;
	text-align: center;
}

#botao-esqueciSenha{
	float: right;
}

.form-group{
	padding: 1%;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
}

.link-sem-linha{
	text-decoration: none;
}

.link-sem-linha:hover{
	text-decoration: none;
}